<li class="list--item">
    <div class="item--select">
        <div class="select--text" data-secretary="work">
            <h4 class="text--heading"><%= secretary %></h4>
        </div>
        <div class="select--plus">
            +
        </div>
    </div>
    <%= form_tag "/users/secretary", remote: true, class: "secretary-form" do %>
        <%= hidden_field_tag 'cabinet', cabinet.id %>
        <%= hidden_field_tag 'secretary', secretary %>
        <%= text_field_tag "user[first_name]", nil, class: "item--input", placeholder: "Secretary's first name" %>
        <%= text_field_tag "user[last_name]", nil, class: "item--input", placeholder: "Secretary's last name" %>
        <%= text_field_tag "user[email]", nil, class: "item--input", placeholder: "Secretary's email" %>
        <%= submit_tag "Add secretary", class: "item--submit" %>
    <% end %>
</li>