<!DOCTYPE html>
<html>
<head>
  <title>Secretaries of Self</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <header class="body--header">
    <div class="header--title">
      <a href="/"><h1>Secretaries of Self</h1></a>
    </div>
    <div class="header--sessions">
      <% if current_user != nil %>
        <% @cabinet = current_user.presidency %>
        <%= link_to 'Edit cabinet', edit_cabinet_path(@cabinet.id) %> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
      <% else %>
        <%= link_to "Sign up", new_registration_path(User) %> <%= link_to "Login", new_session_path(User) %>
      <% end %>
    </div>
  </header>
  <div class="content-container">
    <%= yield %>
  </div>
</div>
</body>
</html>
